<div id="footer">
  <div class="circle" (click)="returnToIntro()">
    <div class="arrowUp"></div>
  </div>

  <div class="hidden" id="fadeIn">
    <h3>- Let's get in touch -</h3>
    <a target="_blank" href="https://github.com/davidelyosef">
      <img src="./assets/github-white.png" alt="link">
    </a>
    <a target="_blank" href="mailto: davidyf96@gmail.com">
      <img src="./assets/emailcopy.png" alt="link">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/david-el-yosef-5736b7196/">
      <img src="./assets/linkedin.png" alt="link">
    </a>
  </div>

  <div style="font-family: Roboto;">
    &copy; {{ yr }} David-el Yosef
  </div>
</div>
