<div id="footer">
  <div class="circle" (click)="returnToIntro()">
    <div class="arrowUp"></div>
  </div>

  <div class="hidden" id="fadeIn">
    <h3>- Let's get in touch -</h3>
    <a target="_blank" href="https://github.com/davidelyosef">
      <img src="./assets/logos/github-white.png" alt="link">
    </a>
    <a target="_blank" href="mailto: davidyf96@gmail.com">
      <img src="./assets/logos/emailcopy.png" alt="link">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/david-el-yosef-5736b7196/">
      <img src="./assets/logos/linkedin.png" alt="link">
    </a>
  </div>

  <div class="credits">
    &copy; {{ yr }}, <a target="_blank" href="davidelyosef.firebaseapp.com">David-el Yosef</a>
  </div>
</div>
