nav {
  position: sticky;
  top: 0;
  background: #2C2F34;
  color: #fff;
  z-index: 9;

  .btn {
    padding: 12px;
  }

  label {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    margin: 0;

    &:hover {
      color: #212529;
      background-color: #ffc107;
      border-color: #ffc107;
    }
  }

  .focus {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .logos {
    float: right;

    a {
      img {
        width: 30px;
        height: 30px;
        margin: 7px;
        margin-right: 3px;
        margin-left: 3px;
      }
    }
  }

  .dropdown {
    float: right;
    display: none;

    button {
      padding: 0;
      font-size: 30px;
      color: #fff;
      border: 0;
      padding-right: 15px;

      &:focus {
        box-shadow: none;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background: #2C2F34;
      min-width: 80px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 0;
      margin-top: -2px;
      padding-left: 0px;
      margin-bottom: 0px;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        img {
          width: 30px;
          height: 30px;
          margin-left: 3px;
        }

      }
    }
  }
}

nav a {
  margin: 5px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 425px) {
  nav {
    .btn {
      padding: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .logos {
      display: none;
    }
    .dropdown {
      display: block;
    }
  }

}
