<nav>
  <label type="button" (click)="gotoElement('portfolio')" class="btn btn-warning">Portfolio</label>
  <label type="button" (click)="gotoElement('recommendations')" class="btn btn-warning">Recoms</label>
  <label type="button" (click)="gotoElement('skills')" class="btn btn-warning">Skills</label>
  <label type="button" (click)="gotoElement('practiceProjects')" class="btn btn-warning">Projects</label>
  <label type="button" (click)="gotoElement('contact')" class="btn btn-warning">Contact</label>

  <div class="logos">
    <a target="_blank" href="https://github.com/davidelyosef">
      <img src="assets/github-white.png" alt="link" title="Github">
    </a>
    <a target="_blank" href="mailto: davidyf96@gmail.com">
      <img src="assets/emailcopy.png" alt="link" title="Email">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/david-el-yosef-5736b7196/">
      <img src="assets/linkedin.png" alt="link" title="Linkedin">
    </a>
  </div>

  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="caret-bg"></span></button>
    <ul class="dropdown-content">
      <a target="_blank" href="https://github.com/davidelyosef">
        <img src="assets/github-white.png" alt="link">
      </a>
      <a target="_blank" href="mailto: davidyf96@gmail.com">
        <img src="assets/emailcopy.png" alt="link">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/david-el-yosef-5736b7196/">
        <img src="assets/linkedin.png" alt="link">
      </a>
    </ul>
  </div>

</nav>
