<div class="homeSection">
  <h3 id="recommendations">Recommendations</h3>
  <div class="slideshow-container" id="my_div">
    <div class="mySlides fadeSlide">
      <div class="numbertext">1 / 2</div>
      <h4>Assaf Finkelstein</h4>
      <h5>Senior Lecturer - John Bryce</h5>
      <img
        src="https://media-exp1.licdn.com/dms/image/C5603AQGRpQQfc1uzOg/profile-displayphoto-shrink_800_800/0?e=1608163200&v=beta&t=3fjc8yWzDh_RTlA-47Xx0gTIdMrUaSg_V6mFsC49gLo"
      />
      <div class="text">
        I would like to point out that David
        invested a lot in the course. I also saw that David loves the subject
        and connects to the field of development, which allowed him to overcome
        barriers in material, learning, and application, and succeed in any task
        he was given or performed.
      </div>
    </div>

    <div class="mySlides fadeSlide">
      <div class="numbertext">2 / 2</div>
      <h4>Tomer Ganihar</h4>
      <h5>Artist - CONFU$IUS Group</h5>
      <img src="https://www.google.com/s2/u/5/photos/public/AIbEiAIAAABECKKGio7_nLTG8AEiC3ZjYXJkX3Bob3RvKig5ZTRjYjUyMGVjMTgxMjQyMjYzMTU4ZDk2MzI2MGYyMTdmMDM2MWU1MAE9JhTo7LdjNx6-Bwe72zbOBtcLCg?sz=300" />
      <div class="text">
        The website looks great. I showed to a lot of people and everyone was
        very impressed. Thank you!
      </div>
    </div>

    <a class="prev" (click)="plusSlides(-1)" style="left: 0">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  <br />

  <div style="text-align: center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
  </div>
</div>
