/* You can add global styles to this file, and also import other style files */
// @import "./assets/bootstrap/bootstrap.min.css";
* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: lora;
  src: url(./assets/fonts/Lora-VariableFont_wght.ttf);
}

body {
  overflow-x: hidden;
  font-family: Roboto;

}

.homeSection {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.14);
  margin: 15px;
  margin-bottom: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.hidden {
  opacity: 0;
}

.none {
  display: none;
}

.block {
  display: block;
}